*{
    margin: 0;
    padding: 0;
}

body{

}

/* --------------------  NAV BAR    ------------------------- */

nav{
    display: inline;
}

#navbar, 
#bluenavbar{
    height: 35px;
    padding: 5px 0 30px 0;
}

#navbar{
    /* height: 35px; */
    /* padding: 5px 0 30px 0; */
    width: 91%;
    background-color: #10243B;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}

#navbar li{
    display: inline;
    color: white;
    font-size: 1.2em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 12px;
    
}

#navbar li:nth-child(n + 8){
    color: #a3dde8;
    font-weight: lighter;
    font-size: 1.12em;
    margin: 0 10px;
}

#navbarimg img{
    height: 40px;
}

#bluenavbar{
    background-color: #0088cc;
    width: 9%;
    color: white;
}

#bluenavbar h4{
    color: white;
    padding-top: 22px;
}

#bluenavbar img{
    padding-top: 22px;
    padding-left: 25px;
}

#bluenavbar{
    display: inline-block;
    
}

.left{
    float: left;
}

#navbardivider{
    height: 70px;
    width: 3px;
    margin: 0;
    background-color: white;
}




/* --------------------  HERO SECTION   ----------------- */

#herosection {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/fans.jpg);
    background-image: url(images/fans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#herocontent{
    position: relative;
    top: 150px;
    left: 50px;
    color: white;
    display: inline;
}

#herotext{
    padding: 50px 0 0 25px;
}

#herotext h1{
    font-size: 2.33em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-decoration-style: solid;
}

#herotext h4{
    font-family: 'PT Sans Narrow', sans-serif;    
}


/* --------------------------------------- menu-container ----------------------------*/

#exploresection{
    width: 100%;
    height: 400px;
    background-color: thistle;
}

#exploreheader{
    height: 70px;
    width: 100%;
    background-color: #10243B;
    color: white;
    font-size: 1em;
    text-align: center;
    padding-top: 9px;
    border-bottom: 8px solid skyblue;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}

#exploreheader img{
    padding-top: 5px;
}


#explorecontent{
    height: 330px;
    width: 100%;
    background-color: firebrick;
    display: inline;
}

.explorebox{
    height: 328px;
    width: 25%;
    background-color: orangered;
}

.left{
    float: left;
}

#patriot{
    background-image: url(images/patriots\ plaza.jpg);    
    background-position: center;
    background-size: cover;
}

#college{
    background-image: url(images/college.png);    
    background-position: center;
    background-size: cover;

}

#ccnn{
    background-image: url(images/ccnn.jpg);    
    background-position: center;
    background-size: cover;
}

#media{
    background-image: url(images/ccnn\ live.png);    
    background-position: center;
    background-size: cover;
}


/*---------------------------------- glance section --------------------------*/



#glancesection{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 400px;

}

#glanceheader{
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    color: #00344C;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.3em;
    
}

.glancebox{
    display: inline;
    width: 25%;
    height: 340px;
    text-align: center;    
}

.glancebox img{
    width: 60%;
}

.glancebox h3{
    color: firebrick;
    font-size: 2em;
}

.glancebox p{
    color: #333;
    font-size: 1.2em;
}


/* -------------------------- statbox -------------------------*/

#statbox{
    width: 100%;
    height: 160px;
    margin-top: 100px;
    padding-top: 20px;
    
}

#statcontent{
    width: 85%;
    height: 60px;
    background-color: #10243B;
    color: white;
    font-size: 2em;
    margin:  0 auto;
    padding-top: 30px;
    text-align: center;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
}


/* ---------------------------- College section -------------------------*/

#collagesection{
    width: 100%;
    height: 400px;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg3.png);
}

#collageheader{
    text-align: center;
    font-size: 1.125em;
    text-transform: none;
    color: #00344C;
    margin-bottom: 30px;
    width: 100%;
}

#collagecontent{
    height: 330px;
    width: 100%;
    background-color: white;
    display: inline;
    padding-left:200px;
    padding-top: 10px;
    padding-bottom: -150px;
    float: left;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg3.png);
    width: 100%;
}
#collagebox{
    height: 328px;
    width: 100%;
    image-orientation: center;
}



/* -------------------------- footer -------------------------*/
#footer{
    height: 400px;
    width: 100%;
    background-color: yellow;
}

#footerNav{
    height: 50px;
    width: 100%;
    background-color: #10243B;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
    width: 100%;
}

#footerContent{
    height: 350px;
    width: 100%;
    background-color: #333;
    color: white;
    
}

#footer ul{
    color: white;
    display: inline;
    list-style-type: none;
    font-size: 1.4em;
     text-transform: up percase; 
    font-weight: lighter;
    font-family: 'PT Sans Narrow', sans-serif;
}

#leftsideNav li{
    float: left;
    margin: 0 22px;

}

#rightsideNav li{
    float: left;
    margin: 0 22px;
}

#leftFoot{
    width: 60%;
    height: 350px;
    padding-right: 18%;
    color: #747474;
}

#leftFoot h3{
    color: white;
}

#rightFoot{
    width: 20%;
    height: 350px;
}
